html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
    background: url('../images/grass.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: border-box
}

.input-field {
    background-color: #eafbd9;
    height: 35px;
    margin: 10px 0 10px 0;
    width: 250px;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    background-image: none;
    border: 1px solid #85e821;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.input-field-error {
    border: 1px solid red;
}

.input-field-button {
    margin-top: 10px;
    width: 250px;
}

.input-field-div {
    display: inline-block;
}

.errorrr {
    padding-left: 5px;
    display: inline-block;
    color: red;
    font-weight: bold;
}


.topbar {
    background-color: rgba(200, 200, 200, 0.7);
    font-size: 150%;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 55px;
    -moz-box-shadow: 0px 3px 10px #333;
    -webkit-box-shadow: 0px 3px 10px #333;
    box-shadow: 0px 3px 10px #333;
    overflow: hidden;
}

.topbar .header-name {
    padding: 10px;
    color: rgb(12, 69, 3);
    font-weight: 800;
    overflow: hidden;
}

.topbar .cup-logo {
    width: 28px;
    margin-left: 20px;
}

.topbar a:hover {
    text-decoration: none;
}

.topbar .user-name {

    color: rgb(12, 69, 3);
    display: inline-block;
    margin: 14px 20px 14px 0;
    font-size: 90%;
    font-weight: bold;
}

.topbar .log {
    margin: 10px 20px 10px 0;
}

.links {
    margin-bottom: 10px;
    -moz-box-shadow:inset 1px 1px 0px 0px rgb(202,239,171);
    -webkit-box-shadow:inset 1px 1px 0px 0px rgb(202,239,171);
    box-shadow:inset 1px 1px 0px 0px rgb(202,239,171);
    background-color: rgba(119,212,42,0.8);
    border:1px solid rgb(44,160,26);
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    text-shadow:1px 1px 0px #aade7c;
    height: 30px;
    width: calc(100% + 42px);
    margin-left: -21px;

}

.link-center {
    padding-left: 20px;
}

.link {
    -moz-box-shadow:inset 1px 1px 0px 0px rgb(202,239,171);
    -webkit-box-shadow:inset 1px 1px 0px 0px rgb(202,239,171);
    box-shadow:inset 1px 1px 0px 0px rgb(202,239,171);
    background-color: rgba(119,212,42,0);
    border-left:1px solid rgb(44,160,26);
    border-right:1px solid rgb(44,160,26);
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    text-shadow:1px 1px 0px #aade7c;
    height: 29px;
    width: 130px;
    vertical-align: middle;
    padding-left: 5px;
    display: inline-block;
    line-height: 27px;
    margin: 0px -2px 0 -3px;
    color: #111 !important;
}

.link:hover {
    background-color: rgba(119,212,42,1);
}




.content-container {
    overflow: auto;
}

.center-div {
    margin: 0 auto;
    width: 800px;
}

.center-cont {
    padding: 0 20px 20px 20px;
    border: 1px solid rgba(255,255,255,0.1);
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: -3px 0px 10px 0px #333, 3px 0px 10px 0px #333;
    -moz-box-shadow: -3px 0px 10px 0px #333, 3px 0px 10px 0px #333;
    box-shadow: -3px 0px 10px 0px #333, 3px 0px 10px 0px #333;
    font-size: 110%;
    min-height: calc(100% - 55px);
}

.match-bet-header {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(119,212,42);
    padding-bottom: 3px;
    width: 640px;
    font-weight: bold;
    font-size: 85%;
}


.match-bet-header-time {
    display: inline-block;
    width: 80px;
}

.match-bet-header-group {
    display: inline-block;
    width: 196px;
}

.match-bet-header-score {
    display: inline-block;
    width: 250px;
}

.match-bet-header-mark {
    display: inline-block;
}

.match-bet {
    height: 65px;
    margin: 0 auto;
    padding-top: 10px;
    border-bottom: 1px solid rgb(119,212,42);
    width: 640px;
}


.match-bet-time {
    width: 95px;
    display: inline-block;
    vertical-align: middle;
    font-size: 90%;
    font-weight: bold;
}

.match-bet-group {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    font-size: 110%;
    font-weight: bold;
}

.match-bet-home-team {
    display: inline-block;
    vertical-align: middle;
    width: 135px;
    font-weight: bold;
    font-size: 110%;
    padding-left: 2px;
}

.match-bet-away-team {
    display: inline-block;
    vertical-align: middle;
    width: 135px;
    font-weight: bold;
    font-size: 110%;
    text-align: right;
    padding-right: 2px;
}

.match-bet-flag {
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.match-bet-texts {
    display: inline-block;
    vertical-align: middle;
    padding-top: 3px;
    font-weight: bold;
}

.match-bet-radios {
    display: inline-block;
    vertical-align: middle;
    padding-top: 3px;
    padding-left: 13px;
}

.bet-goals {
    background-color: rgb(198, 242, 149);
    border-color: rgb(171, 236, 100);
    height: 25px;
    width: 25px;
    text-align: center;
    color: rgb(12, 69, 3);
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
}

.bet-goals-missing {
    background-color:#db292c !important;
    border-color: #b31e21 !important;
}

input[type=radio] {
    display:none;
    margin:10px;
}

input[type=radio] + label {
    -moz-box-shadow:inset 1px 1px 0px 0px rgb(243,251,235);
    -webkit-box-shadow:inset 1px 1px 0px 0px rgb(243,251,235);
    box-shadow:inset 1px 1px 0px 0px rgb(243,251,235);
    display:inline-block;
    background-color: rgb(198, 242, 149);
    border: 1px solid rgb(161,234,81);
    height: 25px;
    width: 25px;
    text-align: center;
    padding-top: 2px;
    margin-bottom: 3px;
}

input[type=radio]:checked + label {
    -moz-box-shadow:inset 1px 1px 0px 0px rgb(202,239,171);
    -webkit-box-shadow:inset 1px 1px 0px 0px rgb(202,239,171);
    box-shadow:inset 1px 1px 0px 0px rgb(202,239,171);
    background-color: rgb(119,212,42);
    border:1px solid rgb(44,160,26);
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    text-shadow:1px 1px 0px #aade7c;
}

.radio-unchecked {
    -moz-box-shadow:inset 0px 1px 0px 0px #f5978e !important;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e !important;
    box-shadow:inset 0px 1px 0px 0px #f5978e !important;
    background-color:#db292c !important;
    border:1px solid #d02718 !important;
    text-shadow:1px 1px 0px #db3529 !important;
}


.index {
    padding: 0 40px 0 40px;
}

.index .header {
    font-size: 115%;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 20px;
    border-bottom: 1px solid rgb(119,212,42);
}

.index .next-match {
    text-align: left;
}


.index .match-time {
    width: 110px;
    display: inline-block;
    vertical-align: middle;
    font-size: 90%;
    font-weight: bold;
    text-align: left;
}

.index .match-group {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    font-size: 110%;
    font-weight: bold;
    text-align: left;
}

.index .match-home-team {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    font-weight: bold;
    font-size: 110%;
    padding-left: 2px;
    text-align: left;
}

.index .match-away-team {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    font-weight: bold;
    font-size: 110%;
    text-align: right;
    padding-right: 2px;
}

.index .match-flag {
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}


.index .next-match .home-goals {
    width: 25px;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    vertical-align: middle;
}

.index .next-match .line {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}

.index .next-match .away-goals {
    width: 25px;
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}

.index .group {
    width: 32%;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.index .group-name {
    font-size: 105%;
    font-weight: bold;
}

.index .team {
    padding-top: 7px
}

.index .team .flag {
    height: 25px;
    vertical-align: top;
}

.index .team .name {
    font-size: 100%;
    font-weight: bold;
    padding-left: 5px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
}




.points {
    padding: 0 40px 0 40px;
}

.points table{
    table-layout: fixed;
    width: 50%;
    font-size: 100%;
}

.points td {
    padding: 5px;
}

.points .user {

}

.points .user:nth-child(even) {
    background-color: rgba(119,212,42,0.1);
}

.points .user:nth-child(odd) {
    background-color: rgba(119,212,42,0.4);
}

.points .user .name {

}

.points .user .point {
    width: 10px;
}

.points .user .total-points {
}

.points .team {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}




.own-bets {
    padding: 0 40px 0 40px;
}

.own-bets .bet-user-name {
    font-size: 120%;
    font-weight: bold;
}

.own-bets .header {
    font-size: 115%;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 20px;
    border-bottom: 1px solid rgb(119,212,42);
}

.own-bets .bet-header {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(119,212,42);
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 85%;
}

.own-bets .bet-header-group {
    display: inline-block;
    width: 237px;
}

.own-bets .bet-header-score {
    display: inline-block;
    width: 250px;
}

.own-bets .bet-header-bet {
    display: inline-block;
    width: 120px;
}

.own-bets .bet-header-points {
    display: inline-block;
}


.own-bets .bet {
    text-align: left;
}

.own-bets .match-time {
    width: 0px;
    display: inline-block;
    vertical-align: middle;
    font-size: 90%;
    font-weight: bold;
    text-align: left;
    overflow: hidden;
}

.own-bets .match-group {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    font-size: 110%;
    font-weight: bold;
    text-align: left;
}

.own-bets .match-home-team {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    font-weight: bold;
    font-size: 110%;
    padding-left: 2px;
    text-align: left;
}

.own-bets .match-away-team {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    font-weight: bold;
    font-size: 110%;
    text-align: right;
    padding-right: 2px;
}

.own-bets .match-flag {
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}


.own-bets .home-goals {
    width: 25px;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    vertical-align: middle;
}

.own-bets .line {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}

.own-bets .away-goals {
    width: 25px;
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}

.own-bets .answer-home {
    margin-left: 15px;
}

.own-bets .answer-mark {
    margin-left: 15px;
}

.own-bets .bet-points {
    margin-left: 30px;
    font-weight: bold;
}

.own-bets .answer {
    -moz-box-shadow:inset 1px 1px 0px 0px rgb(243,251,235);
    -webkit-box-shadow:inset 1px 1px 0px 0px rgb(243,251,235);
    box-shadow:inset 1px 1px 0px 0px rgb(243,251,235);
    display:inline-block;
    background-color: rgb(198, 242, 149);
    border: 1px solid rgb(161,234,81);
    height: 25px;
    width: 25px;
    text-align: center;
    padding-top: 2px;
    margin-bottom: 3px;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    vertical-align: middle;
}


.own-bets .right-answer {
    display: inline-block;
    -moz-box-shadow:inset 1px 1px 0px 0px rgb(202,239,171);
    -webkit-box-shadow:inset 1px 1px 0px 0px rgb(202,239,171);
    box-shadow:inset 1px 1px 0px 0px rgb(202,239,171);
    background-color: rgb(119,212,42);
    border:1px solid rgb(44,160,26);
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    text-shadow:1px 1px 0px #aade7c;
    vertical-align: middle;
    height: 25px;
    width: 25px;
    text-align: center;
    padding-top: 2px;
    margin-bottom: 3px;
}

.own-bets .wrong-answer {
    -moz-box-shadow:inset 0px 1px 0px 0px #f5978e !important;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e !important;
    box-shadow:inset 1px 1px 0px 0px #f5978e !important;
    background-color:#db292c !important;
    border:1px solid #d02718 !important;
    text-shadow:1px 1px 0px #db3529 !important;
    vertical-align: middle;
}




























input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
    -moz-appearance:textfield;
}
