<html>
  <head>
    <title>{% block title %}MM-veikkaus{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="/static/css/main.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    {% endblock %}
    {% block script %}
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js" type="text/javascript"></script>
    {% endblock %}
  </head>
  <body>
    <div class="topbar">
      <a href="{{ url_for('index') }}">
        <img class="cup-logo" src="/static/images/cup-logo.png">
        <span class="header-name">FIFA World Cup 2014 -veikkaus</span>
      </a>
      {% if current_user.is_authenticated() %}
      <a class="btn btn-success pull-right log" href="{{ url_for('logout') }}">Logout</a>
      {% else %}
      <a class="btn btn-success pull-right log" href="{{ url_for('login') }}">Login</a>
      {% endif %}
      <div class="user-name pull-right">{{current_user.name}}</div>
    </div>
    <div class="content-container">
      <div class="center-div">
        <div class="center-cont">
          {% if current_user.is_authenticated() %}
          <div class="links">
            <div class="link-center">
              <a href="{{ url_for('betting') }}"><div class="link">Veikkaa</div></a>
              <a href="{{ url_for('user_bets') }}"><div class="link">Oma tulossivu</div></a>
              <a href="{{ url_for('points') }}"><div class="link">Pisteet</div></a>
            </div>
          </div>
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <div class="footer">{% block footer %}{% endblock %}</div>
  </body>
</html>
