{% extends "base.html" %}
{% block content %}

<div class="own-bets">
    <div class="bet-header">
        <div class="bet-header-group">Lohko</div>
        <div class="bet-header-score">Tulos</div>
        <div class="bet-header-bet">Tulosveikkaus</div>
        <div class="bet-header-points">Pisteet</div>
    </div>
    {% for bet in bets %}
    <div class="bet">
        <div class="match-time">{{bet.match.get_date()}} {{bet.match.get_time()}}</div>
        <div class="match-group">{{bet.match.group.name}}</div>
        <img class="match-flag" src="/static/images/flags/{{bet.match.home_team.short}}.png">
        {% if bet.match.home_team.name!='Norsunluurannikko' %}
        <div class="match-home-team">{{bet.match.home_team.name}}</div>
        {% else %}
        <div class="match-home-team">Norsunluu-rannikko</div>
        {% endif %}

        {% if bet.match.home_goals != None %}
        <span class="home-goals">{{bet.match.home_goals}}</span>
        {% else %}
        <span class="home-goals">X</span>
        {% endif %}
        <span class="line">-</span>
        {% if bet.match.away_goals != None %}
        <span class="away-goals">{{bet.match.away_goals}}</span>
        {% else %}
        <span class="away-goals">X</span>
        {% endif %}

        {% if bet.match.away_team.name!='Norsunluurannikko' %}
        <div class="match-away-team">{{bet.match.away_team.name}}</div>
        {% else %}
        <div class="match-away-team">Norsunluu-rannikko</div>
        {% endif %}
        <img class="match-flag" src="/static/images/flags/{{bet.match.away_team.short}}.png">

        {% if bet.bet_home_goals != None %}
            {% if bet.match.home_goals != None %}
                {% if bet.bet_home_goals == bet.match.home_goals %}
                <span class="answer-home right-answer">{{bet.bet_home_goals}}</span>
                {% else %}
                <span class="answer-home right-answer wrong-answer">{{bet.bet_home_goals}}</span>
                {% endif %}
            {% else %}
                <span class="answer-home answer">{{bet.bet_home_goals}}</span>
            {% endif %}
        {% else %}
        <span class="answer-home answer">X</span>
        {% endif %}
        <span class="line">-</span>
        {% if bet.bet_away_goals != None %}
            {% if bet.match.away_goals != None %}
                {% if bet.bet_away_goals == bet.match.away_goals %}
                <span class="away-goals right-answer">{{bet.bet_away_goals}}</span>
                {% else %}
                <span class="away-goals right-answer wrong-answer">{{bet.bet_away_goals}}</span>
                {% endif %}
            {% else %}
                <span class="answer">{{bet.bet_away_goals}}</span>
            {% endif %}
        {% else %}
        <span class="answer">X</span>
        {% endif %}

        {% if bet.mark != None %}
            {% if bet.match.mark != None %}
                {% if bet.mark == bet.match.mark %}
                    <span class="answer-mark right-answer">{{bet.mark}}</span>
                {% else %}
                    <span class="answer-mark right-answer wrong-answer">{{bet.mark}}</span>
                {% endif %}
            {% else %}
                <span class="answer-mark answer">{{bet.mark}}</span>
            {% endif %}
        {% else %}
            <span class="answer-mark answer"></span>
        {% endif %}
        <span class="bet-points">{{bet.points}}</span>


    </div>
    {% endfor %}
</div>



{% endblock %}
