{% extends "base.html" %}
{% block content %}
<div class="index">
    {% if current_user.is_authenticated() %}
    {% else %}
    <div class="header">Rekisteröidy MM-veikkaukseen</div>
    <form method="POST" action="." class="form">
        {{ form.csrf_token }}
        <div>
            {% if form.name.errors %}
            <div class="input-field-div">{{ form.name(placeholder="Nimi", class="input-field input-field-error") }}</div>
            <div class="errorrr">{{form.name.errors[0]}}</div>
            {% else %}
            <div class="input-field-div">{{ form.name(placeholder="Nimi", class="input-field") }}</div>
            {% endif %}
        </div>
        <div>
            {% if form.email.errors %}
            <div class="input-field-div">{{ form.email(placeholder="Sähköposti", class="input-field input-field-error") }}</div>
            <div class="errorrr">{{form.email.errors[0]}}</div>
            {% else %}
            <div class="input-field-div">{{ form.email(placeholder="Sähköposti", class="input-field") }}</div>
            {% endif %}
        </div>
        <div>
            {% if form.password.errors %}
            <div class="input-field-div">{{ form.password(placeholder="Salasana", class="input-field input-field-error") }}</div>
            <div class="errorrr">{{form.password.errors[0]}}</div>
            {% else %}
            <div class="input-field-div">{{ form.password(placeholder="Salasana", class="input-field") }}</div>
            {% endif %}
        </div>
        <input type="submit" name="submit" value="Rekisteröidy" class="btn btn-success input-field-button">
    </form>
    {% endif %}

    <div class="header">Seuraavat Ottelut</div>
    {% for match in next_matches %}
    <div class="next-match">
        <div class="match-time">{{match.get_date()}} {{match.get_time()}}</div>
        <div class="match-group">{{match.group.name}}</div>
        <a href="{{ url_for('match', id=match.id) }}">
            <img class="match-flag" src="../static/images/flags/{{match.home_team.short}}.png">
            {% if match.home_team.name!='Norsunluurannikko' %}
            <div class="match-home-team">{{match.home_team.name}}</div>
            {% else %}
            <div class="match-home-team">Norsunluu-rannikko</div>
            {% endif %}

            {% if match.home_goals != None %}
            <span class="home-goals">{{match.home_goals}}</span>
            {% else %}
            <span class="home-goals">X</span>
            {% endif %}
            <span class="line">-</span>
            {% if match.away_goals != None %}
            <span class="away-goals">{{match.away_goals}}</span>
            {% else %}
            <span class="away-goals">X</span>
            {% endif %}

            {% if match.away_team.name!='Norsunluurannikko' %}
            <div class="match-away-team">{{match.away_team.name}}</div>
            {% else %}
            <div class="match-away-team">Norsunluu-rannikko</div>
            {% endif %}
            <img class="match-flag" src="../static/images/flags/{{match.away_team.short}}.png">
        </a>
    </div>
    {% endfor %}

    <div class="header">Lohkot</div>
    {% for group in groups %}
    <div class="group">
        <div class="group-name">Lohko {{group.name}}</div>
        {% for team in group.teams %}
        <div class="team">
            <img class="flag" src="../static/images/flags/{{team.short}}.png">
            <span class="name">{{team.name}}</span>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}
