{% extends "base.html" %}
{% block content %}
<form method="POST" action="." class="form">    
    <div class="next-match">
        <div class="match-time">{{match.get_date()}} {{match.get_time()}}</div>
        <div class="match-group">{{match.group.name}}</div>
        <img class="match-flag" src="../static/images/flags/{{match.home_team.short}}.png">
        {% if match.home_team.name!='Norsunluurannikko' %}
        <div class="match-home-team">{{match.home_team.name}}</div>
        {% else %}
        <div class="match-home-team">Norsunluu-rannikko</div>
        {% endif %}
        <div class="match-bet-texts">
            <input type="text" name="home-goals" class="bet-goals" maxlength="2" onkeypress='validate(event)' value="">
            <span>-</span>
            <input type="text" name="away-goals" class="bet-goals" maxlength="2" onkeypress='validate(event)' value="">
        </div>
        {% if match.away_team.name!='Norsunluurannikko' %}
        <div class="match-away-team">{{match.away_team.name}}</div>
        {% else %}
        <div class="match-away-team">Norsunluu-rannikko</div>
        {% endif %}
        <img class="match-flag" src="../static/images/flags/{{match.away_team.short}}.png">
    </div>
    <input type="submit" name="submit" value="Tallenna" class="button">
</form>

{% endblock %}
